*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 30%;
	margin: 0 auto;
}
input, textarea{
	width: 80%;
	display: block;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #c3c3c3;
	color: #c3c3c3;
	position: relative;
}
input[type="text"]:invalid, input[type="email"]:invalid{
	border: 1px solid red;
	-webkit-box-shadow: 0 0 4px red;
	box-shadow: 0 0 4px red;
}
input[type="text"]:valid, input[type="email"]:valid{
	border: 1px solid green;
	-webkit-box-shadow: 0 0 4px green;
	box-shadow: 0 0 4px green;
}
label{
	position: relative;
	display: block;
}
label:before{
	display: block;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   font-size: 40px;
   position: absolute;
   top: -56px;
   left: 87%;
   color: red;
	content: '\2639';
}
input[type="text"]:invalid ~ label:before,
input[type="email"]:invalid ~ label:before{
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
input[type="text"]:invalid ~ label:after,
input[type="email"]:invalid ~ label:after{
	display: none;
	visibility: hidden;
	opacity: 0;
}
label:after{
	display: block;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
   font-size: 43px;
   position: absolute;
   font-weight: bold;
   top: -55px;
   left: 86%;
   color: green;
   content: '\263A';
}
input[type="text"]:valid ~ label:after,
input[type="email"]:valid ~ label:after{
	opacity: 1;
	visibility: visible;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.submit{
	color: #fff;
	text-shadow: 1px 1px 2px #333;
	font-size: 14px;
	background: #3A920E;
	text-transform: uppercase;
	width: 30%;
}
.submit:focus, .submit:hover{
	background: #46B111;
}
.overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
}
a.message{
	color: #fff;
   z-index: 9999999;
   display: block;
   position: absolute;
   text-align: center;
   left: 0;
   right: 0;
   font-size: 32px;
}
.message:hover{text-decoration: none;}

input:focus, textarea:focus{
	outline: none;
}
textarea{
	clear: both;
}
